*{
    font-family: sans-serif;
}

header{
    padding: 1rem 0 1rem 0;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    transition: 0.3s;
    color: #ffffff6b
}

body{
    background-color: #000000de;
}